<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Project</key>
	<string>mDNSResponder</string>
	<key>Tests</key>
	<array>
		<dict>
			<key>TestName</key>
			<string>GAIPerf Advanced</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>600</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/dnssdutil</string>
				<string>test</string>
				<string>gaiperf</string>
				<string>--suite</string>
				<string>advanced</string>
				<string>--format</string>
				<string>json</string>
				<string>--appendNewLine</string>
				<string>--skipPathEval</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNS Discovery 1-1-1</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<true/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/dnssdutil</string>
				<string>test</string>
				<string>mdnsdiscovery</string>
				<string>--instanceCount</string>
				<string>1</string>
				<string>--txtSize</string>
				<string>1</string>
				<string>--browseTime</string>
				<string>3</string>
				<string>--countA</string>
				<string>1</string>
				<string>--countAAAA</string>
				<string>1</string>
				<string>--ipv4</string>
				<string>--ipv6</string>
				<string>--format</string>
				<string>json</string>
				<string>--appendNewLine</string>
				<string>--flushCache</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNS Discovery 1-1-1 (No Additionals)</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<true/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/dnssdutil</string>
				<string>test</string>
				<string>mdnsdiscovery</string>
				<string>--instanceCount</string>
				<string>1</string>
				<string>--txtSize</string>
				<string>1</string>
				<string>--browseTime</string>
				<string>3</string>
				<string>--countA</string>
				<string>1</string>
				<string>--countAAAA</string>
				<string>1</string>
				<string>--ipv4</string>
				<string>--ipv6</string>
				<string>--format</string>
				<string>json</string>
				<string>--appendNewLine</string>
				<string>--noAdditionals</string>
				<string>--flushCache</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNS Discovery 10-100-2</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<true/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/dnssdutil</string>
				<string>test</string>
				<string>mdnsdiscovery</string>
				<string>--instanceCount</string>
				<string>10</string>
				<string>--txtSize</string>
				<string>100</string>
				<string>--browseTime</string>
				<string>3</string>
				<string>--countA</string>
				<string>2</string>
				<string>--countAAAA</string>
				<string>2</string>
				<string>--ipv4</string>
				<string>--ipv6</string>
				<string>--format</string>
				<string>json</string>
				<string>--appendNewLine</string>
				<string>--flushCache</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNS Discovery 10-100-2 (No Additionals)</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<true/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/dnssdutil</string>
				<string>test</string>
				<string>mdnsdiscovery</string>
				<string>--instanceCount</string>
				<string>10</string>
				<string>--txtSize</string>
				<string>100</string>
				<string>--browseTime</string>
				<string>3</string>
				<string>--countA</string>
				<string>2</string>
				<string>--countAAAA</string>
				<string>2</string>
				<string>--ipv4</string>
				<string>--ipv6</string>
				<string>--format</string>
				<string>json</string>
				<string>--appendNewLine</string>
				<string>--noAdditionals</string>
				<string>--flushCache</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNS Discovery 100-500-5</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<true/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/dnssdutil</string>
				<string>test</string>
				<string>mdnsdiscovery</string>
				<string>--instanceCount</string>
				<string>100</string>
				<string>--txtSize</string>
				<string>500</string>
				<string>--browseTime</string>
				<string>5</string>
				<string>--countA</string>
				<string>5</string>
				<string>--countAAAA</string>
				<string>5</string>
				<string>--ipv4</string>
				<string>--ipv6</string>
				<string>--format</string>
				<string>json</string>
				<string>--appendNewLine</string>
				<string>--flushCache</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNS Discovery 100-500-5 (No Additionals)</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<true/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/dnssdutil</string>
				<string>test</string>
				<string>mdnsdiscovery</string>
				<string>--instanceCount</string>
				<string>100</string>
				<string>--txtSize</string>
				<string>500</string>
				<string>--browseTime</string>
				<string>5</string>
				<string>--countA</string>
				<string>5</string>
				<string>--countAAAA</string>
				<string>5</string>
				<string>--ipv4</string>
				<string>--ipv6</string>
				<string>--noAdditionals</string>
				<string>--format</string>
				<string>json</string>
				<string>--appendNewLine</string>
				<string>--flushCache</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNS Discovery 1-1-1 (No Cache Flush)</string>
			<key>AsRoot</key>
			<false/>
			<key>RequiresWiFi</key>
			<true/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/dnssdutil</string>
				<string>test</string>
				<string>mdnsdiscovery</string>
				<string>--instanceCount</string>
				<string>1</string>
				<string>--txtSize</string>
				<string>1</string>
				<string>--browseTime</string>
				<string>3</string>
				<string>--countA</string>
				<string>1</string>
				<string>--countAAAA</string>
				<string>1</string>
				<string>--ipv4</string>
				<string>--ipv6</string>
				<string>--format</string>
				<string>json</string>
				<string>--appendNewLine</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNS Discovery 1-1-1 (No Cache Flush, No Additionals)</string>
			<key>AsRoot</key>
			<false/>
			<key>RequiresWiFi</key>
			<true/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/dnssdutil</string>
				<string>test</string>
				<string>mdnsdiscovery</string>
				<string>--instanceCount</string>
				<string>1</string>
				<string>--txtSize</string>
				<string>1</string>
				<string>--browseTime</string>
				<string>3</string>
				<string>--countA</string>
				<string>1</string>
				<string>--countAAAA</string>
				<string>1</string>
				<string>--ipv4</string>
				<string>--ipv6</string>
				<string>--format</string>
				<string>json</string>
				<string>--appendNewLine</string>
				<string>--noAdditionals</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNS Discovery 10-100-2 (No Cache Flush)</string>
			<key>AsRoot</key>
			<false/>
			<key>RequiresWiFi</key>
			<true/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/dnssdutil</string>
				<string>test</string>
				<string>mdnsdiscovery</string>
				<string>--instanceCount</string>
				<string>10</string>
				<string>--txtSize</string>
				<string>100</string>
				<string>--browseTime</string>
				<string>3</string>
				<string>--countA</string>
				<string>2</string>
				<string>--countAAAA</string>
				<string>2</string>
				<string>--ipv4</string>
				<string>--ipv6</string>
				<string>--format</string>
				<string>json</string>
				<string>--appendNewLine</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNS Discovery 10-100-2 (No Cache Flush, No Additionals)</string>
			<key>AsRoot</key>
			<false/>
			<key>RequiresWiFi</key>
			<true/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/dnssdutil</string>
				<string>test</string>
				<string>mdnsdiscovery</string>
				<string>--instanceCount</string>
				<string>10</string>
				<string>--txtSize</string>
				<string>100</string>
				<string>--browseTime</string>
				<string>3</string>
				<string>--countA</string>
				<string>2</string>
				<string>--countAAAA</string>
				<string>2</string>
				<string>--ipv4</string>
				<string>--ipv6</string>
				<string>--format</string>
				<string>json</string>
				<string>--appendNewLine</string>
				<string>--noAdditionals</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNS Discovery 100-500-5 (No Cache Flush)</string>
			<key>AsRoot</key>
			<false/>
			<key>RequiresWiFi</key>
			<true/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/dnssdutil</string>
				<string>test</string>
				<string>mdnsdiscovery</string>
				<string>--instanceCount</string>
				<string>100</string>
				<string>--txtSize</string>
				<string>500</string>
				<string>--browseTime</string>
				<string>5</string>
				<string>--countA</string>
				<string>5</string>
				<string>--countAAAA</string>
				<string>5</string>
				<string>--ipv4</string>
				<string>--ipv6</string>
				<string>--format</string>
				<string>json</string>
				<string>--appendNewLine</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNS Discovery 100-500-5 (No Cache Flush, No Additionals)</string>
			<key>AsRoot</key>
			<false/>
			<key>RequiresWiFi</key>
			<true/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/dnssdutil</string>
				<string>test</string>
				<string>mdnsdiscovery</string>
				<string>--instanceCount</string>
				<string>100</string>
				<string>--txtSize</string>
				<string>500</string>
				<string>--browseTime</string>
				<string>5</string>
				<string>--countA</string>
				<string>5</string>
				<string>--countAAAA</string>
				<string>5</string>
				<string>--ipv4</string>
				<string>--ipv6</string>
				<string>--noAdditionals</string>
				<string>--format</string>
				<string>json</string>
				<string>--appendNewLine</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNS Discovery w/Packet Drops 10</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<true/>
			<key>Timeout</key>
			<integer>30</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/dnssdutil</string>
				<string>test</string>
				<string>mdnsdiscovery</string>
				<string>--instanceCount</string>
				<string>10</string>
				<string>--txtSize</string>
				<string>100</string>
				<string>--browseTime</string>
				<string>16</string>
				<string>--countA</string>
				<string>2</string>
				<string>--countAAAA</string>
				<string>2</string>
				<string>--ipv6</string>
				<string>--udrop</string>
				<string>0.5</string>
				<string>--mdrop</string>
				<string>0.5</string>
				<string>--maxDropCount</string>
				<string>3</string>
				<string>--format</string>
				<string>json</string>
				<string>--appendNewLine</string>
				<string>--flushCache</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNS Discovery w/Packet Drops 100</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<true/>
			<key>Timeout</key>
			<integer>30</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/dnssdutil</string>
				<string>test</string>
				<string>mdnsdiscovery</string>
				<string>--instanceCount</string>
				<string>100</string>
				<string>--txtSize</string>
				<string>100</string>
				<string>--browseTime</string>
				<string>18</string>
				<string>--countA</string>
				<string>2</string>
				<string>--countAAAA</string>
				<string>2</string>
				<string>--ipv6</string>
				<string>--udrop</string>
				<string>0.5</string>
				<string>--mdrop</string>
				<string>0.5</string>
				<string>--maxDropCount</string>
				<string>3</string>
				<string>--format</string>
				<string>json</string>
				<string>--appendNewLine</string>
				<string>--flushCache</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>DotLocal Queries</string>
			<key>AsRoot</key>
			<false/>
			<key>RequiresWiFi</key>
			<true/>
			<key>Timeout</key>
			<integer>40</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/local/bin/dnssdutil</string>
				<string>test</string>
				<string>dotlocal</string>
				<string>--format</string>
				<string>json</string>
				<string>--appendNewLine</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>mDNSResponder Leaks</string>
			<key>AsRoot</key>
			<true/>
			<key>RequiresWiFi</key>
			<false/>
			<key>Timeout</key>
			<integer>10</integer>
			<key>IgnoreOutput</key>
			<true/>
			<key>Command</key>
			<array>
				<string>/usr/bin/leaks</string>
				<string>mDNSResponder</string>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>XCTests</string>
			<key>WorkingDirectory</key>
			<string>/AppleInternal/XCTests/com.apple.mDNSResponder/</string>
			<key>AsRoot</key>
			<false/>
			<key>RequiresWiFi</key>
			<true/>
			<key>Timeout</key>
			<integer>20</integer>
			<key>ShowSubtestResults</key>
			<true/>
			<key>Command</key>
			<array>
				<string>BATS_XCTEST_CMD</string>
				<string>-NSTreatUnknownArgumentsAsOpen</string>
				<string>NO</string>
				<string>-ApplePersistenceIgnoreState</string>
				<string>YES</string>
				<string>-XCTest</string>
				<string>Self</string>
				<string>Tests.xctest</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
